@charset "utf-8";

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 100%;
	background: red;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background: #dde;
	position: relative;
}

.jspDrag
{
	background: #bbd;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
	padding: 0;
	margin: 0;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}

#container {
	margin-top: 20px;
	width: 760px;
}

#content {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	height: 450px;
        overflow: auto;
}

.images img{
	width: 360px;
	height: 400px;
}

.items {
	width: 360px;
	float: left;
	margin-left: 10px;
	margin-bottom: 20px;
	position: relative;
}

.items.items-1 {
	/*margin-left: 0px;*/
}

.items .vote-btn {
    text-indent: 100000px;
    overflow: hidden;
    width: 54px;
    height: 56px;
    border: 0px;
    display: inline-block;
    float: right;
    background: url(../misc/good.png) no-repeat 0 0;
}

.items .name {
	margin: 5px 0px;
}

.items .eye {
	position: absolute;
	right: 10%;
	top: 5%;
}

.all-images {
}

#all-images-com {
	position: absolute;
	left: 50%;
	z-index: 1000;
}

.plus_1_notice {
	width: 20px;
	height: 20px;
	position: absolute;
	left: 50%;
	top: 260px;
	background: #fff;
	display: none;
        background: url(../misc/heart.png) no-repeat 0 0;
        width: 33px;
        height: 30px;
        text-indent: 100000000px;
}

#filter-box {
	margin-bottom: 5px;
	width: 750px;
	margin-left: auto;
	margin-right: auto;
}

#filter-box input {
	width: 100%;
	color: #808080;
	display: block;
}

#filter-box input.focus {
	color: #333333;
}